<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://escapeui.netlify.app/styling/components.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/signup.css">
    <script src="https://kit.fontawesome.com/7759c244e7.js" crossorigin="anonymous"></script>
    <title>Sign Up</title>
</head>

<body>
    <header class="header-main flex flex-y-ctr">
        <a href="../index.html">
            <h2 class="header-brand-title">Urban Style</h2>
        </a>
        <input class="header-search" type="text" placeholder="Search">
        <div class="header-right flex flex-y-ctr">
            <a href="./login.html"><button class="header-login-btn">Login</button></a>
            <div class="mail-badge header-icon-p">
                <a href="./wishlist.html"><i class="fa-regular fa-heart header-icon"></i></a>
                <span class="badge">0</span>
            </div>
            <div class="mail-badge header-icon-p">
                <a href="./cart.html"><i class="fa-solid fa-cart-arrow-down header-icon"></i></a>
                <span class="badge">0</span>
            </div>
            <a href="./login.html"><i class="fa-solid fa-arrow-right-from-bracket header-icon"></i></a>
        </div>
    </header>

    <div class="main-ct">
        <div class="signup-ct flex">
            <h2>Signup</h2>
            <span>
                <label for="signup-email">Email Address</label>
                <input type="text" placeholder="xyz@gmail.com" id="signup-email">
            </span>
            <span>
                <label for="signup-fn">First Name</label>
                <input type="text" placeholder="john" id="signup-fn">
            </span>
            <span>
                <label for="signup-ln">Last Name</label>
                <input type="text" placeholder="smith" id="signup-ln">
            </span>
            <span class="pwd">
                <label for="signup-pwd">Password</label>
                <input type="password" placeholder="********" id="signup-pwd">
                <i class="fa-solid fa-eye"></i>
            </span>
            <span class="pwd">
                <label for="signup-c-pwd">Confirm Password</label>
                <input type="password" placeholder="********" id="signup-c-pwd">
                <i class="fa-solid fa-eye"></i>
            </span>

            <div><input type="checkbox" id="signup-accept"> <label required for="signup-accept">I accept all Terms &
                    Conditions</label></div>
            <a href="./product-listing.html" class="signup-c-a"><button>Create New Account</button></a>
            <a href="./login.html"><span class="signup-already">Already have an account ></span></a>
        </div>

    </div>
</body>

</html>